body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
    max-width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 10px 200px;
    background-color: #1f2937;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.img1 {
    height: auto;
    width: 450px;
    border-radius: 15px;
}

.img2 {
    height: auto;
    width: 200px;
    border-radius: 15px;
}

.box1 {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding: 100px 200px;
}

.info1 {
    display: flex;
    flex-direction: column;
    width: 450px;
    gap: 8px;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.herotext {
    font-size: 18px;
    color: #e5e7eb;
}

.button1, .button2 {
    background-color: #3882f6;
    padding: 8px 32px;
    border-radius: 10px;
    border: none;
    color: #e5e7eb;
    font-weight: bold;
    font-size: 16px;
}

.button2 {
    border-color: white;
}

.infohead {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding-bottom: 50px;
}

.box2 {
    text-align: center;
    padding: 50px 200px 125px;
}

.info2 {
    display: flex;
    justify-content: center;
}

.box3 {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quotebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 850px;
    padding: 150px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.sig {
    font-weight: bolder;
    align-self: flex-end;
}

.box4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.actionbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
    background-color: #3882f6;
    height: 150px;
    width: 1000px;
    border-radius: 10px;
}

.info3 {
    color: white;
}

.action {
    font-size: 24px;
    font-weight: bold;
}

.button2 {
    border: 2px solid white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1f2937;
    color: #f9faf8;
    height: 100px;
}






